/* chakra-petch-300 - latin */
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 300;
  src: url('~/assets/fonts/chakra-petch/chakra-petch-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~/assets/fonts/chakra-petch/chakra-petch-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~/assets/fonts/chakra-petch/chakra-petch-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('~/assets/fonts/chakra-petch/chakra-petch-300.woff') format('woff'), /* Modern Browsers */
       url('~/assets/fonts/chakra-petch/chakra-petch-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~/assets/fonts/chakra-petch/chakra-petch-300.svg#ChakraPetch') format('svg'); /* Legacy iOS */
}
/* chakra-petch-600 - latin */
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 600;
  src: url('~/assets/fonts/chakra-petch/chakra-petch-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~/assets/fonts/chakra-petch/chakra-petch-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~/assets/fonts/chakra-petch/chakra-petch-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('~/assets/fonts/chakra-petch/chakra-petch-600.woff') format('woff'), /* Modern Browsers */
       url('~/assets/fonts/chakra-petch/chakra-petch-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~/assets/fonts/chakra-petch/chakra-petch-600.svg#ChakraPetch') format('svg'); /* Legacy iOS */
}
/* chakra-petch-700 - latin */
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  src: url('~/assets/fonts/chakra-petch/chakra-petch-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~/assets/fonts/chakra-petch/chakra-petch-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~/assets/fonts/chakra-petch/chakra-petch-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('~/assets/fonts/chakra-petch/chakra-petch-700.woff') format('woff'), /* Modern Browsers */
       url('~/assets/fonts/chakra-petch/chakra-petch-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~/assets/fonts/chakra-petch/chakra-petch-700.svg#ChakraPetch') format('svg'); /* Legacy iOS */
}